html,
body {
  height: 100%;
}
.container {
  height: 100%;
  display: flex;
}

.glass {
  /* background: rgb(255, 255, 255); */
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}

body {
  background-image: -webkit-linear-gradient(left, #e2e2e2, #e7e7e7);
}
